# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: c06920282007a151170d02890bc75c49c94b64c702f9da4c0b4d177525e003380022d56729f9262b31d2340bbe8cb263aeaac2a3ba76269eb195135908f66302
  aliyun_oss:
    endpoint: http://oss-cn-hangzhou.aliyuncs.com
    cname: false
    access_key_id: ACCESS_KEY_ID
    access_key_secret: ACCESS_KEY_SECRET

test:
  secret_key_base: a22242b280232ff396a1810e9a7079321912de8fc902fb5b371585c46c16bfdaa65461dd8da4da37a41a050f43c55ac7b47e1deff625f139f38618d78b2bcfd7

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
